.container-fluid{
    padding:0px;
}


.font1{
    font-family: 'Bangers', cursive;
}
.font2{
    
font-family: 'Ultra', serif;
}
.font3{
    font-family: 'Monoton', cursive;
}
.custom-header{
    font-size:80px;

}
.font4{
    font-family: 'Satisfy', cursive;
}
body{
    background-color: white;
}